{% extends 'navbar.html' %} 
{% block nav %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p>Are you sure want to delete this post?</p>
    <div class="card mt-3 bg-light" style="width: 100%;">
        <div class="card-header">
            <span>
                {{object.date}}
            </span>
        </div>
        {% if object.image.url %}
        <img class="card-img-top" src="{{object.image.url}}" height="200px" alt="card image cap">
        {%endif%}
        <div class="card-body">
            <h5 class="card-title">{{object.title}}</h5>
            <p class="card-text">{{object.description}}</p>
        </div>
        <p><input type="submit" value="confirm" class="btn btn-success"></p>
    </form>

    </div>
{% endblock nav %}