{% extends 'navbar.html' %}
{% block nav %}
 {% load static %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}">    
<h1 class="text-center text-light">USERHOME</h1>
{% if messages %}
{% for i in messages %}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <DIV class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{i}}
    </DIV>
    {% endif %}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <DIV class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{i}}
    </DIV>
    {%endif%}
{%endfor%}
{%endif%}

<div class="row">
  <div class="col-8">
    {% for i in data %}
    <div class="card mt-3 bg-light" style="width: 100%;">
      <div class="card-header">
        {%if i.user == request.user%}
        <h6>
          <span class="material-symbols-outlined">
            account_circle
            </span>ME</h6>
        {%else%}
        <h4><span class="material-symbols-outlined">
          account_circle
          </span>{{i.user.first_name}} {{i.user.last_name}}</h4>
        {%endif%}
      
      <span>{{i.date}}</span></div>
      {% if i.image.url %}
      <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap">
      {%endif%}
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>

        <p class="card-text">{{i.description}}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#cmnt" aria-expanded="false" aria-controls="cmnt">
       comments
      </button>
      <div class="collapse" id="cmnt">
        <div class="card card-body">comment here...</div>
      </div>
    </div>
    </div>
    {%endfor%}
  </div>
  <!-- <div class="col"></div> -->
  <div class="col-4">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <span class="material-symbols-outlined">
        library_add
        </span>
    </button>
    <div class="collapse" id="collapseExample">
      
   
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="table table-success">
        {{form.as_table}}
        <tr>
          <td colspan="2" class="text-center">
            <button class="btn btn-success">POST</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div></div>
{% endblock nav %}