{% extends 'sidebar.html' %}
{% block side %}
{% if messages %}
{% for i in messages %}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <DIV class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{i}}
    </DIV>
    {% endif %}
    {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <DIV class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{i}}
    </DIV>
    {%endif%}
{%endfor%}
{%endif%}

{% endblock side %}